body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 60px; /* 헤더 높이만큼 여백 추가 */
}

.header {
    height: 60px;
    background-color: #222;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;

    position: fixed; /* 화면 상단 고정 */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 다른 요소보다 위 */
}

.auth a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.auth a:hover {
    text-decoration: underline;
    color: #ffcc00;
}

.logo {
    font-size: 20px;
}

/* 로고 링크 스타일 */
.header .logo a {
    color: white;            /* 글자 색 */
    text-decoration: none;   /* 밑줄 제거 */
    cursor: pointer;         /* 마우스 포인터 표시 */
    display: inline-block;   /* 클릭 범위 확보 */
    font-size: 20px;         /* 글자 크기 */
    font-weight: bold;
}

.header .logo a:hover {
    color: #ffcc00;          /* 호버 시 색상 */
    text-decoration: underline; /* 밑줄 표시 */
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.nav a:hover{
    text-decoration: underline; /* wavy는 브라우저 지원 제한 */
    color: aqua;
}

.content {
    padding: 40px;
}
